<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.longbiu.meeting.mapper.MeetingRoomMapper">
    <select id="getAllMr" resultType="org.longbiu.meeting.model.MeetingRoom">
        select * from meetingroom;
    </select>
</mapper>